@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
:root{
    --background-color:#070b18;
    --primary-color:#8b5cf6;
    --secondary-color:#6d28d9;
    --dark-color:#0f172a;
    --text-color:#f8fafc;
   --accent-color:#22d3ee;
   --gray-color:#94a3b8;
     --main-font:'Inter', sans-serif;
    --title-font:'Plus Jakarta Sans', sans-serif;
    --border-radius:80px;
    --transition:0.3s ease;

}
/* RESET CSS : enléve les styles par défaut du navigateur*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: var(--main-font);
    background: var(--background-color);
    color: var(--text-color);
    line-height: 1.6;
    overflow-x:hidden ;
    
}
a{
    text-decoration: none;
    transition: var(--transition);
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
    display: block;
}
h1,h2,h3,h4,.navbar-brand{
    font-family: var(--title-font);
}
  .navbar {
   background: rgba(17, 24, 39, 0.85) !important;
   backdrop-filter: blur(12px);/* agit sur ce qu'il y a derriére l'élément */
   height: 65px;
   display: flex;
   align-items: center;
   padding: 10px 28px;
   margin: 15px 20px;
   border-radius: var(--border-radius);
   box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25); /*ombre pour effet flottant */
}

.navbar-brand{
    font-size: 1.6rem;
    font-weight: 700;
    color:var(--primary-color) !important ;
    display: flex;
    align-items: center;
    gap: 10px;
}
.navbar-brand img{
    width: auto;
    height: 55px;
    max-height: 60px;
    object-fit: contain;
    filter:brightness(1.05) drop-shadow(0 0 5px rgba(124,77,255,0.5));/* éclaicit le logo, ajoute une ombre colorée,ensemble:effet moderne et visible*/
    transition: var(--transition); /*animation fluide lors des effets hover*/
    mix-blend-mode: screen;
}
.navbar-brand img:hover{
    transform: scale(1.05);
}
.navbar-brand span{
    font-size: 1.5rem;
    font-weight: 700;
    font-family: var(--title-font);
    color: var(--text-color);
   
}

 .nav-link{
    color: var(--text-color) !important ;
    margin-left: 15px;
    font-weight: 500;
    transition: var(--transition);
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    position: relative;
}

  .nav-link:hover , .nav-link.active{
    color: var(--primary-color) !important ;
    background :transparent !important;
    
}
/*création du trait animé sous le lien*/
.nav-link::after{
    content: ""; /*crée un élement vide pour l'animation*/
    position: absolute;
    left: 0;
    bottom: -5px;/*position sous le texte*/
    width: 0%;
    height: 2px;
    background: var(--accent-color);
    transition: var(--transition);
}
/*animation du trait au survol*/
.nav-link:hover::after{
    width: 100%;
}
 
 .join-btn{
    background: linear-gradient(135deg,var(--primary-color), var(--secondary-color));
    border: none;
    outline: none;
    box-shadow: none;
    border-radius: 50px;
    padding: 9px 20px;
    font-size: 0.95rem;
    font-weight: 600;
    color: white !important;
    transition: var(--transition);
    
}

 .join-btn:hover{
    opacity: 0.85;
    transform: translateY(-2px);
}
.join-btn:active{
    background: transparent;
    color: var(--primary-color) !important;
    border: 2px solid var(--primary-color);
}

